.detalhes-main {
    display: flex;
    flex-direction: column;
    margin: 2.5rem auto;
    background-color: var(--base1);
    width: 70%;
}

.detalhes {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1.5rem auto;

}

.detalhes-p,
.detalhes-titulo {
    padding: 0.5rem;
    text-align: justify;
    line-height: 1.5rem;
    display: flex;
    margin: 0 auto;
    width: 90%;
}

.detalhes-ul {
    margin: 0 auto;
    width: 90%;
    padding: 1.5rem;
}