/* TODO: separar css do header e footer e básicos do main para repetir nas outras páginas */

html {

  --cor1: #2b444d;
  --cor2: #725740;
  --cor3: #6D8884;
  --cor4: #c0996c;
  --cor5: #f1e9de;
  --cor6: #fff9f0;

  --cor1transp: #2b444dbe;
  --cor3transp: #6d888488;

  --base1: #fff;
}





.banner {
  display: flex;
  width: 100%;
  margin: 1rem auto;
  justify-content: space-between;
}

.banner img {
  display: flex;
  width: auto;
  height: 90vh;
}

.div-banner-aux {
  display: flex;
  background-color: var(--cor4);
  flex-direction: column;
  color: var(--base1);
  align-items: center;
}

.div-banner-aux h1 {
  text-align: center;
}

.categoria {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--base1);
  align-items: center;
  justify-content: center;
  height: 35em;
}

.categoria img {
  width: 100%;
  height: 100%;
}

.menu-categorias {
  display: flex;
  gap: .5rem;
  width: 90%;
  height: 100%;
  margin: 3rem auto;
  background-color: var(--cor5);
}

.menu-categorias p {
  background-color: var(--cor1transp);
  /* height: 50%; */
  color: var(--base1);
}

.row {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--cor6);
}

.column {
  display: flex;
  justify-content: center;
  width: 70%;
  /* margin-right: 8rem; */
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--cor6);
}