html {

  --cor1: #2b444d;
  --cor2: #725740;
  --cor3: #6D8884;
  --cor4: #c0996c;
  --cor5: #f1e9de;
  --cor6: #fff9f0;

  --cor3transp: #6d888488;

  --base1: #fff;
}

.menu {
  display: inline-flex;
  background-color: var(--cor6);
  /* padding: 1rem; */
  border-top: 1px solid var(--cor1);
  justify-content: space-between;


}

.menu a {
  /* margin: 1rem; */
  padding: 1rem;
  text-decoration: none;
  color: var(--cor1);
}