.produto {
    display: flex;
    width: 90%;
    margin: 2rem auto;
    justify-content: space-between;
}



.produto-foto {
    width: 50%;

}

.produto-info {
    width: 35%;
    color: var(--cor1);
    display: flex;
    flex-direction: column;
}

.produto-titulo {
    padding: 1rem 0 0;
    margin: 0;
}

/* FIXME: arrumar tamanho do hr para ficar igual/proporcional ao titulo */
.produto-info hr {
    margin: 0;
    width: 100%;

}

.texto-pequeno {
    font-size: smaller;
    padding: 0;
    margin: 0;
    color: var(--cor3);
}

.texto-medio {
    font-size: medium;
    padding: 1rem 0;
    margin: 0;
    color: var(--cor1);
}

.preco {
    font-size: 2.5rem;
    padding: 2rem 0;
    margin: 0;
    color: var(--cor1);
}

.comprar {
    display: flex;
    justify-content: space-between;
    width: 76.5%;
}

.comprar-input {
    display: flex;
    width: 15%;
    border: none;
    outline: none;
    text-align: center;
}

.comprar-button {
    display: flex;
    border: none;
    width: 80%;
    justify-content: center;
    background-color: var(--cor1);
    cursor: pointer;
    font-size: small;
    padding: 0.6rem;
    color: var(--base1);
    /* TODO: adicionar icone sacola branca */
}

.simula-entrega-button {
    border: none;
    border-left: 1px solid var(--cor1);
    border-bottom: 1px solid var(--cor1);
    background-color: var(--cor3transp);
    cursor: pointer;
    font-size: small;
    padding: 0.6rem;
    color: var(--cor1transp);
}

.simula-entrega-input {
    height: 2rem;
    margin: auto 0;
    border: none;
    border-bottom: 1px solid var(--cor1);
    outline: none;
    width: 60%;
}

.simula-entrega {
    display: flex;
    justify-content: left;
    width: 100%;
    margin-bottom: 2.5rem
}

.navegacao {
    padding: 1rem 0;
    color: var(--cor1);
}


.trocar-imagem {
    display: none;
}

.imagem {
    width: 100%;
    display: flex;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('/assets/img/almofadas/almofada-modelo1.webp');
    background-size: contain;
    cursor: pointer;
    transition: background-image 0.5s ease;
}

#trocarImagem:checked+.imagem {
    background-image: url('/assets/img/almofadas/almofada-modelo1-2.webp');
}

.almofada2 {
    width: 100%;
    display: flex;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('/assets/img/almofadas/almofada-modelo2.webp');
    background-size: contain;
    cursor: pointer;
    transition: background-image 0.5s ease;
}

#almofada2:checked+.almofada2 {
    background-image: url('/assets/img/almofadas/almofada-modelo2-2.webp');
}

.almofada3 {
    width: 100%;
    display: flex;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('/assets/img/almofadas/almofada-modelo3.webp');
    background-size: contain;
    cursor: pointer;
    transition: background-image 0.5s ease;
}

#almofada3:checked+.almofada3 {
    background-image: url('/assets/img/almofadas/almofada-modelo3-2.webp');
}

.almofada4 {
    width: 100%;
    display: flex;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('/assets/img/almofadas/almofada-modelo4.webp');
    background-size: contain;
    cursor: pointer;
    transition: background-image 0.5s ease;
}

#almofada4:checked+.almofada4 {
    background-image: url('/assets/img/almofadas/almofada-modelo4-2.webp');
}

.carrinho1 {
    width: 100%;
    display: flex;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('/assets/img/carrinhos/carrinho-modelo1.webp');
    background-size: contain;
    cursor: pointer;
    transition: background-image 0.5s ease;
}

#carrinho1:checked+.carrinho1 {
    background-image: url('/assets/img/carrinhos/carrinho-modelo1-2.webp');
}

.carrinho2 {
    width: 100%;
    display: flex;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('/assets/img/carrinhos/carrinho-modelo2.webp');
    background-size: contain;
    cursor: pointer;
    transition: background-image 0.5s ease;
}

#carrinho2:checked+.carrinho2 {
    background-image: url('/assets/img/carrinhos/carrinho-modelo-bar2-3.webp');
}

.carrinho3 {
    width: 100%;
    display: flex;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('/assets/img/carrinhos/carrinho-artetube1.webp');
    background-size: contain;
    cursor: pointer;
    transition: background-image 0.5s ease;
}

#carrinho3:checked+.carrinho3 {
    background-image: url('/assets/img/carrinhos/carrinho-artetube3.webp');
}

.espelho1 {
    width: 100%;
    display: flex;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('/assets/img/espelho/espelho-bellatrix.webp');
    background-size: contain;
    cursor: pointer;
    transition: background-image 0.5s ease;
}

#espelho1:checked+.espelho1 {
    background-image: url('/assets/img/espelho/espelho-bellatrix2.webp');
}

.espelho2 {
    width: 100%;
    display: flex;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('/assets/img/espelho/espelho-hanger.webp');
    background-size: contain;
    cursor: pointer;
    transition: background-image 0.5s ease;
}

#espelho2:checked+.espelho2 {
    background-image: url('/assets/img/espelho/espelho-hanger3.webp');
}

.espelho3 {
    width: 100%;
    display: flex;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('/assets/img/espelho/espelho-glamour1.webp');
    background-size: contain;
    cursor: pointer;
    transition: background-image 0.5s ease;
}

#espelho3:checked+.espelho3 {
    background-image: url('/assets/img/espelho/espelho-glamour2.webp');
}