html ::-webkit-scrollbar {
    width: 5px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: var(--cor1);

}

html ::-webkit-scrollbar-track {
    background: var(--cor5);
}